@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center;
    padding-bottom: 3rem;
}

.image_holder {
    text-align: center;
    padding-bottom: 3rem;
}

.btn{
    background-color: rgb(117, 185, 190);
    border: none;
    padding: 0.75rem;
    height: 3.5rem;
    width: 7rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
}

.btn:hover{
    background-color: rgb(87, 93, 144);
}

.landscape {
    margin-top: 1rem;
    height: 55vh;
    width: 33.3333%;
    border-radius: 10px;
    border-color: pink;
    border-style: solid;
    cursor: pointer;
}

.function_table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td {
    width: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hand_button{
    font-size: 0.8rem;
}

#gesture{
    text-align: center;
    font-weight: bold;
}